<!DOCTYPE html>
<html>
<head>
	<title>ToDo</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<header class="mb-3"></header>
<div class="container">
	<div class="card">
		<div class="card-body d-flex justify-content-center">
			<div id="app">
			  <task-list :tasks="tasks"></task-list>
			</div>
			<template id="task-list">
			  <section class="tasks ">
			    <div class="input-group mb-3">
			      <input type="text" placeholder="Задача" class="form-control" v-model="newTask" @keyup.enter ="addTask" size="100">  
			      <span class="input-group-append">
			        <button class="btn btn-primary" @click="addTask">
			          <i class="fa fa-plus"></i> 
			        </button>
			      </span>
			    </div>
			    <ul class="list-group">
			      <task-item  v-for="(task, index) in tasks" @remove="removeTask(index)" @complete="completeTask(task)" :task="task" :key ="task.id"></task-item>
			    </ul>
			  </section>
			</template>
			<template id="task-item">
			    <li class="list-group-item">
			        <button :class="className" @click.self="$emit('complete')">
			          {{ task.title }}
			        </button>
			        <button class="pull-right btn btn-outline-danger btn-sm" @click="$emit('remove')">
			          <i class="fa fa-times"></i>
			        </button>
			    </li>
			</template>
		</div>
	</div>
</div>
<footer class="mt-3"></footer>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="src/js/index.js"></script>
</body>
</html>